{% extends "layout.html.twig" %}

{% set active = 'home' %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="index.css">#}
    <style>
        .grid-sizer,
        .grid-item { width: calc( (100% / 3) - 20px); }
    </style>
{% endblock %}

{% block content %}

{#{{ dump(app.user) }}#}

<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>
        <!--spotlight-->
        <section class="owl-carousel owl-spotlight">

            {% for article in spotlight %}
                    <div>
                        <article class="spotlight-item">
                            <div class="spotlight-img">
                                <img alt="{{ article.title }}"
                                     src="{{ asset('images/product/'~article.featuredImage) }}"
                                     class="img-responsive"/>
                                <a href="{{ path('index_category', {
                                    'category' : article.category.slug }) }}" class="cate-tag">
                                    {{ article.category.name }}
                                </a>
                            </div>
                            <div class="spotlight-item-caption">
                                <h2 class="font-heading">
                                    <a href="{{ path('index_article', {
                                        'category'  : article.category.slug,
                                        'slug'      : article.slug,
                                        'id'        : article.id
                                    }) }}">
                                        {{ article.title }}
                                    </a>
                                </h2>
                                <div class="meta-post">
                                    <a href="#">
                                        {{ article.user.firstname ~ ' ' ~ article.user.lastname }}
                                    </a>
                                    <em></em>
                                    <span>
                                        {{ article.createdDate | date('d/m/Y') }}
                                    </span>
                                </div>
                                {{ article.content | summary }}
                            </div>
                        </article>
                    </div>
            {% endfor %}

        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row grid">
                <div class="grid-sizer"></div>
                {% for article in articles %}
                    <div class="col-md-4 col-sm-4 col-xs-12 grid-item">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="{{ path('index_article', {
                                    'category'  : article.category.slug,
                                    'slug'      : article.slug,
                                    'id'        : article.id
                                }) }}">
                                    <img alt="{{ article.title }}" src="{{ asset('images/product/'~article.featuredImage) }}"/>
                                </a>
                                <a href="{{ path('index_category', {
                                    'category' : article.category.slug }) }}" class="cate-tag">{{ article.category.name }}</a>
                            </div>
                            <h3><a href="{{ path('index_article', {
                                    'category'  : article.category.slug,
                                    'slug'      : article.slug,
                                    'id'        : article.id
                                }) }}">{{ article.title | title }}</a></h3>
                            <div class="meta-post">
                                <a href="javascript:void(0)">
                                    {{ article.user.firstname ~ ' ' ~ article.user.lastname }}
                                </a>
                                <em></em>
                                <span>
                                    {{ article.createdDate | date('d/m/Y') }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </section>
    </div>

    {# Sidebar #}
    {#{% include 'components/_sidebar.html.twig' %}#}
    {{ render(controller('App\\Controller\\TechNews\\IndexController::sidebar')) }}

{% endblock %}

{% block final_javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js" integrity="sha256-D3o+8eRzMxa6mD+EDWrS5rMcEaAhISmCnRLdQ8kS2t4=" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

    <script>
        $(function() {
            var $grid = $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',
                percentPosition: true,
                gutter: 15
            });
            $grid.imagesLoaded().progress( function() {
                $grid.masonry('layout');
            });
        })
    </script>
{% endblock %}
