{% extends "layout.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="index.css">#}
{% endblock %}

{% block content %}

<div class="row">
    <!--colleft-->
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>spotlight</span>
        </div>
        <!--spotlight-->
        <section class="owl-carousel owl-spotlight">

            {% for article in articles %}
                {% if article.spotlight %}
                    <div>
                        <article class="spotlight-item">
                            <div class="spotlight-img">
                                <img alt="{{ article.titre }}"
                                     src="{{ asset('images/product/'~article.featuredimage) }}"
                                     class="img-responsive"/>
                                <a href="javascript:void(0)" class="cate-tag">
                                    {{ article.categorie.libelle }}
                                </a>
                            </div>
                            <div class="spotlight-item-caption">
                                <h2 class="font-heading">
                                    <a href="javascript:void(0)">
                                        {{ article.titre }}
                                    </a>
                                </h2>
                                <div class="meta-post">
                                    <a href="#">
                                        {{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}
                                    </a>
                                    <em></em>
                                    <span>
                                        {{ article.datecreation | date('d/m/Y') }}
                                    </span>
                                </div>
                                {# Accroche Ici #}
                            </div>
                        </article>
                    </div>
                {% endif %}
            {% endfor %}

        </section>

        <!--spotlight-thumbs-->
        <section class="spotlight-thumbs">
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="#">
                                    <img alt="{{ article.titre }}" src="{{ asset('images/product/'~article.featuredimage) }}"/>
                                </a>
                                <a href="javascript:void(0)" class="cate-tag">{{ article.categorie.libelle }}</a>
                            </div>
                            <h3><a href="javascript:void(0)">{{ article.titre | title }}</a></h3>
                            <div class="meta-post">
                                <a href="javascript:void(0)">
                                    {{ article.auteur.prenom ~ ' ' ~ article.auteur.nom }}
                                </a>
                                <em></em>
                                <span>
                                    {{ article.datecreation | date('d/m/Y') }}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
        </section>
    </div>
{% endblock %}
