<!--colright-->
<div class="col-md-4 col-sm-12">

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <h3 class="text-center">Bonjour {{ app.user.firstname }}</h3>
        <h4 class="text-center">

            {% if is_granted('ROLE_ADMIN') %}
                Administrateur
            {% elseif is_granted('ROLE_AUTHOR') %}
                Auteur
            {% else %}
                Membre
            {% endif %}

        </h4>

        <ul class="list-group">

            {% if article is defined and article and ( article.user.id == app.user.id and is_granted('ROLE_AUTHOR') )  %}
                <li class="list-group-item">
                    <a href="{{ path('article_edit', { 'id' : article.id }) }}">
                        Editer cet Article
                    </a>
                </li>
            {% endif %}

            {% if is_granted('ROLE_AUTHOR') %}
                <li class="list-group-item">
                    <a href="{{ path('article_add') }}">
                        Rédiger un Article
                    </a>
                </li>
            {% endif %}

        </ul>

    {% endif %}

    <!--tab popular-->
    <ul role="tablist" class="tab-popular">
        <li class="active">
            <a href="#tab1" role="tab" data-toggle="tab">
                DERNI&Egrave;RE PUBLICATIONS
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
            <ul class="list-news-popular">
                {% for article in articles %}
                    <li>
                        <a href="{{ path('index_article', {
                            'category'  : article.category.slug,
                            'slug'      : article.slug,
                            'id'        : article.id
                        }) }}">
                            <img alt="{{ article.title }}" src="{{ asset('images/product/'~article.featuredImage) }}">
                        </a>
                        <h3><a href="{{ path('index_article', {
                                'category'  : article.category.slug,
                                'slug'      : article.slug,
                                'id'        : article.id
                            }) }}">{{ article.title }}</a></h3>
                        <div class="meta-post">
                            <a href="#">
                                {{ article.user.firstname ~ ' ' ~ article.user.lastname }}
                            </a>
                            <em></em>
                            <span>
                                {{ article.createdDate | date('d/m/Y') }}
                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <!-- subcribe box-->
    <div class="subcribe-box">
        <h3>NEWSLETTER</h3>
        <p>Inscrivez-vous pour recevoir nos dernières publications.</p>
        <input type="text" placeholder="Votre Email..." />
        <button class="my-btn">Je m'inscris</button>
    </div>
    <!-- connect us-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				SUIVEZ-NOUS
			</span>
        </div>
        <ul class="list-social-icon">
            <li>
                <a href="#" class="facebook">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="google">
                    <i class="fa fa-google"></i>
                </a>
            </li>
            <li>
                <a href="#" class="youtube">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </li>
            <li>
                <a href="#" class="pinterest">
                    <i class="fa fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- special post-->
    <div class="connect-us">
        <div class="widget-title">
			<span>
				En Avant
			</span>
        </div>
        <div class="list-special">
            {% for article in specials %}
                <article class="news-two-large">
                    <a href="{{ path('index_article', {
                        'category'  : article.category.slug,
                        'slug'      : article.slug,
                        'id'        : article.id
                    }) }}">
                        <img alt="{{ article.title }}" src="{{ asset('images/product/'~article.featuredImage) }}">
                    </a>
                    <h3><a href="{{ path('index_article', {
                            'category'  : article.category.slug,
                            'slug'      : article.slug,
                            'id'        : article.id
                        }) }}">{{ article.title }}</a></h3>
                    <div class="meta-post">
                        <a href="#">
                            {{ article.user.firstname ~ ' ' ~ article.user.lastname }}
                        </a>
                        <em></em>
                        <span>
                            {{ article.createdDate | date('d/m/Y') }}
                        </span>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</div>